main {
    min-height: 100%;
    font-family: Candara;
    width: 100%;

    .services-hero {
        height: 100vh;
        width: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        position: relative;

        @media (max-width: 768px) {
            padding: 2vw;
        }

        &::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: #00000067;
            z-index: -1;
        }

        video {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            z-index: -1;
        }

        h1 {
            font-family: Carla;
            font-size: 6vw;
            margin: 2.5vw 0;

            @media (max-width: 768px) {
                font-size: 9vw;
                text-align: center;
                margin-bottom: 10vw;
            }
        }

        h2 {
            font-size: 1.5vw;
            font-weight: lighter;
            text-align: center;
            width: 40%;
            line-height: 1.7;

            @media (max-width: 768px) {
                font-size: 4.5vw;
                width: 100%;
            }
        }

        i {
            position: absolute;
            font-size: 2vw;
            bottom: 0;

            @media (max-width: 768px) {
                font-size: 8vw;
            }
        }
    }

    .services {
        height: fit-content;
        width: 100%;
        background-color: #EAE3DE;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8vw 5vw;
        gap: 1vw;
        color: #7C3719;

        @media (max-width: 768px) {
            gap: 4vw;
        }

        h1 {
            font-size: 4.5vw;
            width: 55%;
            text-align: center;
            font-family: Cinema;
            font-weight: lighter;
            line-height: 1.2;

            @media (max-width: 768px) {
                font-size: 8vw;
                width: 100%;
            }
        }

        h4 {
            font-size: 1.5vw;
            font-weight: lighter;
            color: #904323;

            @media (max-width: 768px) {
                font-size: 3.5vw;
                text-align: center;
            }
        }

        .services-cards {
            margin-top: 4vw;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 4vw;
            justify-content: center;

            @media (max-width: 768px) {
                flex-direction: column;
                padding: 0 5vw;
                gap: 12vw;
            }

            .card {
                flex: 1 1 calc(33.333% - 2vw);
                background-color: #EAE3DE;
                border-radius: 12px;
                box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
                height: 80vh;
                max-width: 360px;
                transition: transform 0.3s ease;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;

                @media (max-width: 768px) {
                    height: fit-content;
                }

                img {
                    height: 50%;
                    width: 100%;
                    object-fit: cover;
                }

                .card-inner {
                    height: 50%;
                    width: 100%;
                    padding: 2vw;
                    display: flex;
                    flex-direction: column;
                    background: linear-gradient(to bottom, #e9c6ad, #EAE3DE);

                    @media (max-width: 768px) {
                        gap: 4vw;
                        padding: 6vw 4vw;
                    }

                    h3 {
                        font-size: 2vw;
                        margin-bottom: 1vw;
                        color: #7C3719;

                        @media (max-width: 768px) {
                            font-size: 6vw;
                        }
                    }

                    p {
                        font-size: 1.1vw;
                        color: #904323;
                        line-height: 1.7;

                        @media (max-width: 768px) {
                            font-size: 4vw;
                        }
                    }

                    .pricings {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 1.5vw;

                        h4 {
                            color: #7C3719;
                            font-size: 1.4vw;

                            &:nth-child(2) {
                                font-weight: bold;
                            }

                            @media (max-width: 768px) {
                                font-size: 4.5vw;
                            }
                        }
                    }
                }

                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
    }

    .plans {
        height: 100vh;
        width: 100%;
        background-color: #7C3719;
        display: flex;
        align-items: center;
        padding: 5vw;

        .plans-inner {
            height: 90%;
            width: 100%;
            display: flex;
            color: #fff;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 8vw;
            }

            .plans-left {
                height: 100%;
                width: 45%;
                padding: 2vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
                gap: 2vw;

                @media (max-width: 768px) {
                    width: 100%;
                    height: fit-content;
                    gap: 6vw;
                }

                h2 {
                    font-size: 2vw;
                    width: 50%;

                    @media (max-width: 768px) {
                        font-size: 8vw;
                        width: 100%;
                    }
                }

                h4 {
                    font-size: 1.3vw;
                    color: #dbd4cf;
                    font-weight: lighter;
                    width: 70%;
                    line-height: 1.5;

                    @media (max-width: 768px) {
                        font-size: 3.5vw;
                        width: 70%;
                    }
                }

                button {
                    border: none;
                    background-color: transparent;
                    width: fit-content;
                    margin-top: 2vw;
                    font-size: 1.2vw;
                    cursor: pointer;
                    color: #fff;

                    @media (max-width: 768px) {
                        font-size: 4vw;
                    }
                }

                .pagination-btns {
                    align-self: flex-end;
                    position: absolute;
                    bottom: 5%;
                    display: flex;
                    gap: 1vw;

                    @media (max-width: 768px) {
                        gap: 4vw;
                    }

                    i {
                        font-size: 1.5vw;
                        cursor: pointer;
                        color: #7C3719;
                        background-color: #fff;
                        border-radius: 50%;
                        padding: 0.8vw;

                        @media (max-width: 768px) {
                            font-size: 4vw;
                            padding: 1vw;
                        }

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }

            .plans-right {
                height: 100%;
                width: 55%;

                @media (max-width: 768px) {
                    width: 100%;
                    height: 50%;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}